@model Project.Models.Appointment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Appointment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patientid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patientid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patientname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patientname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Departmentid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Departmentid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doctorid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doctorid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doctorname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doctorname)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
